# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @aabidsofi19 @acald-creator @adithyaakrishna @aijeyomah @aisuko @alphax86 @asubedy @cpepper96 @dheerajng @hexxdump @ianrwhitney @leecalcote @lekaf974 @mgfeller @miacycle @nikhil-ladha @revolyssup @sangramrath @sudhanshutech @thebeginner86 @thehh1974 @yashsharma1911 @girishranganathan 
