# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @aabidsofi19 @acald-creator @adithyaakrishna @aijeyomah @aisuko @alexquincy @alphax86 @arjunmehta-git @asubedy @cpepper96 @carlosriosilva @cooperfitzgerald @dheerajng @hexxdump @hortison @ianrwhitney @jamieplu @leecalcote @lekaf974 @marblom007 @mgfeller @miacycle @nikhil-ladha @pontusringblom @revolyssup @ritzorama @sangramrath @shivaylamba @simihablo @sudhanshutech @suttonskate @thebeginner86 @thehh1974 @yashsharma1911 @yi-nuo426
